/* table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { border: 1px solid #000; padding: 8px; text-align: left; } */

/* ======= TABLA ======= */
.tabla {
    border: 1px solid black; 
    border-collapse: collapse; 
    width: 100%;
}

.tabla td {
    border: 1px solid black;
    font-size: 8px;
    padding: 8px;
}
.tabla th{
    background-color: rgb(209, 207, 207);
    border: 1px solid black;
    font-size: 8px;
    padding: 8px;
}

/* ======= TABLA ======= */
.tabla2 {
    border: 0px solid black; 
    border-collapse: collapse; 
    width: 100%;
}

.tabla2 td {
    border: 0px solid black;
    font-size: 8px;
}
.tabla2 th{
    background-color: rgb(209, 207, 207);
    border: 0px solid black;
    font-size: 8px;
}


/* ======= TABLA PARA FIRMA ======= */

.tabla-firma {
    border: 0px;
    width: 100%;
}

.tabla-firma td {
    font-size: 10px;
    text-align: center;
    padding: 8px;
}
.tabla-firma th{
    font-size: 11px;
    text-align: center;
    padding: 8px;
}

.borde-superior {
    border-top: 1px solid black; /* Puedes cambiar el grosor y color */
}

/* ======= TABLA ENCABEZADO ======= */

.tabla-encabezado {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto; /* empuja la tabla a la derecha */
}

.tabla-encabezado th {
    font-size: 9px;
    border: 0.5px solid black;
    background-color: rgb(209, 207, 207);
}

.tabla-encabezado td {
    font-size: 9px;
    border: 0.5px solid black;
}


/* ======= TABLA DATOS ======= */

.tabla-datos {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
    margin-left: auto; /* empuja la tabla a la derecha */
}

.tabla-datos th {
    font-size: 9px;
    text-align: left;
    width: 100px;
    /* border: 0.5px solid black; */
}
.tabla-datos td {
    font-size: 9px;
    border: 0.5px solid black;
}

/* ======= TABLA DATOS ======= */

.tabla-datos-2 {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
    margin-left: auto; /* empuja la tabla a la derecha */
}

.tabla-datos-2 th {
    font-size: 9px;
    text-align: left;
    width: 100px;
    /* border: 0.5px solid black; */
}
.tabla-datos-2 td {
    font-size: 9px;
    text-align: left;
    width: 100px;
}
